.headerContainer {
    /* background-color: red; */
    display: flex;
    padding: 35px 0px;
    padding-left: 30px;
    gap: 40px;
}

.navigation {
    display: flex;
    gap: 25px;


}

.Logo {
    img {
        width: 100px;
    }
}



.rule {
    height: 2px;
    background-color: blue;
    margin-top: 25px;
}

.hambuger {
    img {
        width: 80px;
        height: 50px;
        display: none;
    }
}

@media (max-width: 500px) {

    .headerContainer {
        /* background-color: red; */
        display: flex;
        padding: 35px 0px;
        padding-left: 30px;
        gap: 40px;
    }

    .navigation {
        display: flex;
        gap: 15px;
        margin-left: -20px;
    }

    .Logo {
        img {
            width: 100px;
            margin-left: -60px;
        }
    }



    .rule {
        height: 2px;
        background-color: blue;
        margin-top: 25px;
    }

    .hambuger {
        img {
            width: 80px;
            height: 50px;
            display: none;
        }
    }
}